body {
  background-color: azure;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid grey; */
}

.barchartWrapper{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.Acontainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  position: absolute;
  margin-left: 15%;
  margin-top: 100px;
  
}

.Acontainer .Atop-header,
.Acontainer .Ainner-body {
  display: flex;
  gap: 2%;
}

.Ainner-body {
  display: flex;
  gap: 2%;
}

.Ainner-body .Afollowers-growth {
  width: 70%;
  gap: 2%;
}


.Afollowers-growth .Auser-country {
  /* height: 330px; */
}

.Ainner-body .Ascheduled-posts {
  width: 30%;
}

.Atop-header .Aaccount-data {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  gap: 10%;
  display: flex;
  width: 260px;
}

.Aaccount-data .Atop-top {
  display: flex;
  align-items: center;
  gap: 2%;
}

.Aaccount-data .Atop-bottom {
  display: flex;
  align-items: stretch;
  gap: 2%;
  justify-content: space-between;
}

.Atop-top .Atop-title {
  font-weight: 500;
  font-size: 1.A2em;
  color: #323335;
}

.Atop-bottom .Atop-followers {
  font-weight: 600;
  font-size: 28px;
  color: #1B1C1E;
}

.Atop-bottom .Abottom-data {
  display: flex;
  font-size: 16px;
}

.Ainner-body .Auser-growth {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.Auser-growth #myChart {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 20px;
}

.Ascheduled-posts {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
}

.Ascheduled-posts .Aschedule-header {
  display: flex;
  justify-content: space-between;
}

.Aschedule-header .Aschedule-title,
.Aactivities .Aactivity-title {
  font-weight: 600;
  font-size: 18px;
  color: #1B1C1E;
  padding-bottom: 10px;
}

.Aschedule-header .Aadd-post a {
  font-weight: 500;
  font-size: 15px;
  color: #0CAF60;
  text-decoration: underline;
}

.Ascheduled-posts .Apost-container {
  display: flex;
  align-items: flex-start;
  gap: 5%;
  padding-bottom: 10px;
}

.Apost-container .Apost-heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1B1C1E;
}

.Apost-container .Apost-info {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  gap: 2px;
  align-items: flex-start;
  width: fit-content;
}

.Apost-info .Apost-details {
  display: flex;
  align-items: stretch;
  gap: 20px;
  justify-content: space-between;
}

.Apost-details p {
  font-weight: 400;
  font-size: 12px;
  color: #1B1C1E;
}

.Apost-details p span {
  font-weight: 400;
  font-size: 10px;
  color: #858688;
}

.Aactivities {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.Aactivities .Aactivity-box {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.Aactivities,
.Aactivity-person {
  display: flex;
  gap: 2%;
  align-items: stretch;
}

.Aactivities .Aactivity-content {
  display: flex;
}

.Aactivities .Aending {
  display: flex;
}

.Aactivity-person .Aname {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1B1C1E;
}

.Aactivity-person .Aaction {
  font-size: 12px;
  line-height: 15px;
  color: #858688;
}

.Aactivity-content .Acontent {
  width: 50%;
  margin-right: auto;
  font-size: 13px;
  line-height: 19px;
  color: #5B5C5E;
}

.Aactivity-content .Aending {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Aending .Atime {
  margin-right: auto;
  font-size: 13px;
  line-height: 19px;
  color: #858688;
}