@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.FAQpage{
  background-color: #F2F8FF;
}

.FAQHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#F2F8FF ;
}

.TFAQP1{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 11.767px;
line-height: 18px;
text-align: center;
color: #53686A;
}

.TFAQP2{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 35.3011px;
line-height: 44px;
text-align: center;
letter-spacing: -0.02em;
color: #2A66FF;
}

.TFAQP3{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14.7088px;
line-height: 22px;
text-align: center;
color: #53686A;
margin-bottom: 2%;
}

.FAQSearch{
  display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 8.82528px 11.767px;
background: #FFFFFF;
box-shadow: 0px 0.73544px 1.47088px rgba(16, 24, 40, 0.05);
border-radius: 5.88352px;
border: none;
}

.FAQBody{
padding: 47.0681px 0px;
gap: 47.07px;
background: #FFFFFF;
padding: 0 7% 3% 7%;
}

.FAQBodyQuestions{
  display: flex;
  justify-content: space-evenly;
  margin: 4.4% 0;
}

.EachFAQ{
  width: 28%;
  margin: 1%;
}

.EachFAQIcon{
  width: 35.3px;
height: 35.3px;
background: #F2F8FF;
border-radius: 17.6506px;
display: flex;
justify-content: center;
align-items: center;
border: 1.47088px solid #2A66FF;
color: #2A66FF;
margin-bottom: 1.5% ;
}

.FAQbodyQuestionHeader{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14.7088px;
line-height: 22px;
color: #53686A;
margin-bottom: 1%;
text-align: left;
}

.EachFAQBody{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11.767px;
line-height: 18px;
color: #53686A;
}

.FAQbottom{
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 23.5341px;
gap: 23.53px;
background: #F2F8FF;
border-radius: 11.767px;
}

.FAQbottomHeader{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14.7088px;
line-height: 22px;
color: #53686A;
}

.FAQbottomBody{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13.2379px;
line-height: 21px;
color: #53686A;
}

.SendUsMessage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7.3544px 13.2379px;
  gap: 5.88px;
  background: #53686A;
  box-shadow: 0px 0.73544px 1.47088px rgba(16, 24, 40, 0.05);
  border-radius: 5.88352px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 11.767px;
  line-height: 18px;
  color: #FFFFFF;
  border: none;
}

.SendUsMessage:hover{
  opacity: .8;
  cursor: pointer;
}