@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
}
body{
  background: #f7f7fc;
}
button > Link {
  text-decoration: none;
}

.PasswordResetContainer{
width: 40%;
margin: 5% 30%;
background-color: #ffffff;
border-radius: 10px;

}


.PasswordResetContainer > img{
  width: 10%;
  margin: 5% 45%;
  margin-bottom: 2%;
}
.PasswordResetContainer > h1{
  width: 70%;
  margin: 2% 15%;
  font-family: Open Sans;
  font-size: 32px;
  font-weight: 500;
  line-height: 52px;
  text-align: left;
  color: #153060;
}
.PasswordResetContainer > p{
  width: 70%;
  margin: 2% 15%;
  color: #828282;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

}
.PasswordResetContainer > label{
  width: 70%;
  margin: 0 15%;
  display: block;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
  color: #153060;
  margin-top: 7%;
}
.PasswordResetContainer > input{
  width: 65%;
  margin: 0 15%;
  display: block;
  background: #FAFAFA;
  padding: 2%;
  border: 1px solid #828282;
  border-radius: 5px;
}
.PasswordResetContainer > button{
  width: 70%;
  margin: 2% 15%;
  padding: 2%;
  border: 1px solid #828282;
  border-radius: 5px;
  margin-bottom: 10%;
  background: #424242;
  color: #ffffff;
}