@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif
}

html,body{
    background: #E5E5E5;
}

#dashboard-profile-con{
  width: 84%;
  margin-left: 16%;
}

.dashboard-prof-details{
  width: 80%;
  margin-top: 100px;
  display: flex;
  background: #ffffff;
  border: 1px solid #424242;
}

.dashboard-profile-img{
  /* width: 30%; */
  margin: 1.5rem;
}

.prof-img{
  width: 200px;
  height: 200px;
  /* border: 2px solid #424242; */
  border-radius: 10px;
}

.profile-data{
  margin-top: 1.5rem;
  /* display: flex;
  flex-direction: column; */
}

.profile-button{
  margin: 40px 0 35px;
  
}

.profile-edit-btn{
  height: 48px;
  width: 111px;
  /* left: 0px; */
  /* top: 0px; */
  border-radius: 8px;
  background-color: #424242;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.profile-password-btn{
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  width: 155px;
  left: 135px;
  top: 0px;
  border: 1px solid #424242;
  border-radius: 8px;
  color: #424242;
  margin: 1.2rem;
}
.dashboard-socials > p{
  /* text-align: center; */
  font-weight: 700;
  margin-top: 30px;
  color: #424242;
  font-size: 24px;
}
.profile-socials{
  width: 200px;
  display: flex;
  justify-content: space-between;
  /* margin: 2rem; */
}
.profile-box{
  display: flex;
  align-items: center;
  margin: 1.5rem;
  /* background-color: #ffffff; */
  /* border-right: 1px solid #424242; */
  /* border-radius: 8px; */
}

.profile-social-icon-text{
  margin: 1rem;
  color: #1F64FF;
  font-size: 18px;
}

.profile-social-icon{
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:  #4460A0; */
}

.profile-facebook{
  color: #4460A0;
  font-size: 30px;
  background-color: rgba(68, 96, 160, 0.13);
  /* padding: 12px; */
  border-radius:8px;
  width: 56px;
  height: 56px;
}

.profile-instagram{
  color:  rgba(212, 47, 127, 0.5);
  font-size: 30px;
  background-color: rgba(92, 90, 205, 0.24);
  /* padding: 12px; */
  border-radius:8px;
  width: 56px;
  height: 56px;
}

.profile-twitter{
  color: #00AAEC;
  font-size: 30px;
 background-color:  rgba(0, 170, 236, 0.19);
 border-radius: 8px;
 /* padding: 12px; */
 width: 56px;
 height: 56px;

}

.profile-linkedin{
  color: #0072b1;
  font-size: 30px;
  background-color: rgba(68, 96, 160, 0.13);
  /* padding: 12px; */
  border-radius:8px;
  width: 56px;
  height: 56px;
}

.profile-delete-icon{
  color: #D84749;
  font-size: 15px;
}

.profile-delete-icon:hover{
  opacity: 0.7;
  font-size: 20px;

}

.profile-line{
  height: 70px;
  border-left: 2px solid #424242;
  margin-top: 20px;
  /* font-size: 25px; */
  /* font-weight: lighter; */
  /* color: #424242; */
}

.profile-box p{
  display: inline;
}
