@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Inter;
}

button:hover{
  cursor: pointer;
}
#dashboard-profile-con{
  width: 82%;
  margin-left: 18%;
  position: absolute;
}

.dashboard-prof-details{
  width: 80%;
  margin-top: 100px;
  display: flex;
  background: #F2F8FF;
  border: none;
  border-radius: 20px;
  box-shadow:4px 4px 4px 4px #dbdbdb;
}

.dashboard-bus-details {
  width: 80%;
  margin-top: 40px;
  background: #F2F8FF;
  padding: 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 4px #dbdbdb;
}

.dashboard-bus-details h2 {
  font-weight: 700;
  color: #424242;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}

.dashboard-bus-details p {
  line-height: 1.7em;
}

.dashboard-profile-img{
  margin: 1.5rem;
}

.prof-img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.profile-data{
  margin-top: 1.5rem;
 
}

.profile-data > p, h4{
  margin-top: 10px;
}

.profile-button{
  margin: 20px 0 10px;
  
}

.profile-edit-btn{
  height: 48px;
  padding: .2rem .5rem;
  border-radius: 8px;
  background-color: #424242;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.profile-password-btn{
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  top: 0px;
  border: 1px solid #424242;
  border-radius: 8px;
  color: #424242;
  margin: 1.2rem;
}

.dashboard-socials{
  width: 80%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background: #F2F8FF;
    padding: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px #dbdbdb;
  position: relative;
}

.dashboard-socials > p{
  font-weight: 700;
  color: #424242;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}
.profile-socials{
  width: 200px;
  display: flex;
  flex-direction: column;
}


.profile-social-icon-text{
  margin: 1rem;
  color: #1F64FF;
  font-size: 14px;
}

.profile-social-icon{
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-facebook, .profile-instagram, .profile-twitter, .profile-linkedin{
  color: #4460A0;
  font-size: 30px;
  background-color: rgba(68, 96, 160, 0.13);
  border-radius:8px;
  width: 50px;
  height: 48px;
}

 .profile-box {
  display: flex;
  align-items: center;
}

.profile-box .profile-connect{
  color: #00AAEC;
  font-size: 15px;
  position: absolute;
  right: 50px;
}

.profile-box .profile-connect:hover{
  opacity: 0.7;
  font-size: 16px;
  background-color: tomato;
  color: #eee;
}

/* .profile-line{
  height: 70px;
  border-left: 2px solid #c2c0c0;
  margin-top: 20px;
} */

.profile-box p{
  display: inline;
}
