@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Inter;
}


#dashboard-profile-con{
  width: 84%;
  margin-left: 18%;
  position: absolute;
}

.dashboard-prof-details{
  width: 80%;
  margin-top: 100px;
  display: flex;
  background: #F2F8FF;
  border: none;
  border-radius: 20px;
  box-shadow:10px 10px 10px 10px #dbdbdb;
}

.dashboard-profile-img{
  margin: 1.5rem;
}

.prof-img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.profile-data{
  margin-top: 1.5rem;
 
}

.profile-data > p{
  margin-top: 10px;
}

.profile-button{
  margin: 20px 0 10px;
  
}

.profile-edit-btn{
  height: 48px;
  width: 111px;
  border-radius: 8px;
  background-color: #424242;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.profile-password-btn{
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  top: 0px;
  border: 1px solid #424242;
  border-radius: 8px;
  color: #424242;
  margin: 1.2rem;
}

.dashboard-socials > p{
  font-weight: 700;
  margin-top: 30px;
  color: #424242;
  font-size: 24px;
}
.profile-socials{
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.profile-box{
  display: flex;
  align-items: center;
  margin: 1.5rem 1.5rem 1.5rem 0;
}

.profile-social-icon-text{
  margin: 1rem;
  color: #1F64FF;
  font-size: 18px;
}

.profile-social-icon{
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-facebook{
  color: #4460A0;
  font-size: 30px;
  background-color: rgba(68, 96, 160, 0.13);
  border-radius:8px;
  width: 56px;
  height: 56px;
}

.profile-instagram{
  color:  rgba(212, 47, 127, 0.5);
  font-size: 30px;
  background-color: rgba(92, 90, 205, 0.24);
  border-radius:8px;
  width: 56px;
  height: 56px;
}

.profile-twitter{
  color: #00AAEC;
  font-size: 30px;
 background-color:  rgba(0, 170, 236, 0.19);
 border-radius: 8px;
 width: 56px;
 height: 56px;

}

.profile-linkedin{
  color: #0072b1;
  font-size: 30px;
  background-color: rgba(68, 96, 160, 0.13);
  border-radius:8px;
  width: 56px;
  height: 56px;
}

.profile-delete-icon{
  color: #D84749;
  font-size: 15px;
}

.profile-delete-icon:hover{
  opacity: 0.7;
  font-size: 20px;

}

.profile-line{
  height: 70px;
  border-left: 2px solid #c2c0c0;
  margin-top: 20px;
}

.profile-box p{
  display: inline;
}
