@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap');



.sidebarContainer{
  width: 15%;
  background-color: #1B1C1E;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  padding-top: 3%;
}

.logoContainer{
  margin-top: 5%;
  margin-bottom: 20%; 
}

.logoItself{
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.fontspace{
  margin-right: 10%;
}

.eachPage{
  margin-bottom: 10%;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

}

.linkToEachPage{
 padding-bottom: 70%;
}

.bottomSideFooter{
  margin-bottom: 10%;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #858688;
}

.CurrentPage{
  background-color: #323335;
  padding: 4% 20% 4% 4%;
  border-radius: 5px;
  color: #FFFFFF !important;
}
.eachPage > a{
  color: #858688;
}
.eachPage> .fontspace {
  display: none;
}
.CurrentPage > a{
  color: #FFFFFF ;
}

.bottomSideFooter > a{
  color: #858688;
}
.bottomSideFooter > a:hover{
  color: #FFFFFF;
}

.eachPage:hover{
  background-color: #323335;
  padding: 4% 3%;
  border-radius: 5px;
  margin-right: 10%;
  color: #FFFFFF;
}
.eachPage >a:hover{
  color: #FFFFFF;
}

/* 
MEDIA QUERY
*/

@media (min-width: 320px) and (max-width:480px) {
  .sidebarContainer {
    }
}
@media (min-width: 481px) and (max-width:768px) {
  .sidebarContainer {

  }
    .eachPage  a > #item {
      
    }
}
