@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebarContainer{
  width: 15%;
  height: 90vh;
  background-color: #1B1C1E;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  padding-top: 3%;
}

.logoContainer{
  margin-top: 5%;
  margin-bottom: 20%; 
}

.logoItself{
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.fontspace{
  margin-right: 10%;
}

.eachPage{
  margin-bottom: 10%;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;

}

.linkToEachPage{
 padding-bottom: 70%;
}

.bottomSideFooter{
  margin-bottom: 10%;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #858688;
}

.CurrentPage{
  background-color: #323335;
  padding: 4% 3%;
  border-radius: 5px;
  margin-right: 10%;
}
.eachPage > a{
  color: #858688;
}

.CurrentPage > a{
  color: #FFFFFF;
}

.bottomSideFooter > a{
  color: #858688;
}
.bottomSideFooter > a:hover{
  color: #FFFFFF;
}

.eachPage:hover{
  background-color: #323335;
  padding: 4% 3%;
  border-radius: 5px;
  margin-right: 10%;
  color: #FFFFFF;
}
.eachPage >a:hover{
  color: #FFFFFF;
}